<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
</head>
<body>
<a href="/add"> Add or update Resume</a><br/>


<table>
    <tr>
        <th>Name</th>
    </tr>

    <tr>
        <th>Email</th>
    </tr>

    <tr>
        <th>Education</th>
    </tr>

    <tr>
        <th>Job Experience</th>
    </tr>

    <tr>
        <th>Skills</th>
    </tr>


    <tr th:each="resume : ${resumes}">
        <td th:text="${resume.name}"></td>
        <td th:text="${resume.email}"></td>
        <td th:text="${resume.education}"></td>
        <td th:text="${resume.experience}"></td>
        <td th:text="${resume.organization}"></td>
        <td th:text="${resume.communication}"></td>
        <td th:text="${resume.time_management}"></td>

    </tr>


</table>
</body>
</html>