<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
</head>
<body>
<a href="/add"> Add or update Resume</a><br/>




<div th:each="resume : ${resumes}" >
    <h4 th:inline="text">[[${resume.name}]]</h4>
    <h4 th:inline="text">[[${resume.email}]]</h4>
    <h4 th:inline="text">[[${resume.education}]]</h4>
    <h4 th:inline="text">[[${resume.experience}]]</h4>
    <h4 th:inline="text">[[${resume.orginization}]]</h4>
    <h4 th:inline="text">[[${resume.timeManagement}]]</h4>
    <h4 th:inline="text">[[${resume.communication}]]</h4>

</div>











</body>
</html>

